---
import Layout from "@layouts/layout.astro";
import { getCollection } from "astro:content";
import { formatDate } from "@util";
const posts = await getCollection("posts");
---

<Layout>
  <header class="mt-20 bg-white py-10 px-20">
    <h2 class="text-xl font-fairplay italic">Hello there Hack Clubber! Welcome to...</h2>
   
    <h1 class="text-4xl mb-5">The Hacker Press</h1>
    <p>Hack Club's official newspaper/blog. Find articles here about the Slack, Hack Club's events, and more :D.</p>
  </header>
  <div class="grid grid-cols-1 md:grid-cols-3 gap-10 my-4 mx-4 md:mx-20">
    {
      posts.map((post) => (
        <div class="flex flex-col">
          <img
            src={post.data.properties.Image}
            alt={post.data.properties.ImageAlt}
            class="w-full h-64 object-cover mb-2 rounded-lg"
          />
          <a
            href={`/posts/${post.data.properties.Slug}`}
            class="text-xl transition-colors text-text"
            aria-label="Read '{post.data.properties.Name}' article"
          >
            {post.data.properties.Name}
          </a>
          <div class="flex flex-col mt-2">
            <p class="font-extralight font-phantom text-[#717171]">
              {formatDate(post.data.properties.Date)}
            </p>
            <p class="font-bold font-phantom text-[#6A6A6A]">
              Zach Latta, Orpheus, Heidi
            </p>
          </div>
        </div>
      ))
    }
  </div>
</Layout>
