---
import Layout from "@layouts/layout.astro";
import { getCollection } from "astro:content";
import { formatDate } from "@util";
const posts = await getCollection("posts");
---

<Layout>
  <header class="mt-20 bg-[url(/assets/vermont.png)] pt-20 pb-15 px-20">
    <h2 class="text-xl font-fairplay italic">Hello there Hack Clubber! Welcome to...</h2>
   
    <h1 class="text-4xl mb-5">The Hacker Press</h1>
    <p class="">Hack Club's official newspaper/blog. Find articles here about the Slack, Hack Club's events, and more :D.</p>
  </header>
  <div class="flex flex-row gap-5 bg-accent-header text-white px-4 md:px-20 py-4">
    <img
        src="https://placehold.co/700x500.png"
        alt="Featured Article"
        class="w-64 object-cover rounded-lg"
      />
    <div class="">
      <h3 class="text-4xl">#meta to complain about Zach Latta ‘breathing incorrectly’</h3>
      <p>In other news, water is wet</p>
    </div>
  </div>
  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-10 my-4 mx-4 md:mx-20">
    {
      posts.map((post) => (
        <div class="flex flex-col">
          <img
            src={post.data.properties.Image}
            alt={post.data.properties.ImageAlt}
            class="w-full h-64 object-cover mb-2 rounded-lg"
          />
          <h3><a
            href={`/posts/${post.data.properties.Slug}`}
            class="text-xl transition-colors text-text"
            aria-label="Read '{post.data.properties.Name}' article"
          >
            {post.data.properties.Name}
          </a></h3>
          <div class="flex flex-col mt-2">
            <p class="font-extralight font-phantom text-[#717171]">
              {formatDate(post.data.properties.Date)}
            </p>
            <p class="font-bold font-phantom text-[#6A6A6A]">
              Zach Latta, Orpheus, Heidi
            </p>
          </div>
        </div>
      ))
    }
  </div>
</Layout>
