---
import Layout from "@layouts/layout.astro";
import { getCollection } from "astro:content";
const posts = await getCollection("posts");

// debugging be like
posts.forEach(post => {
  console.log(post.data);
});

function formatDate(date: Date) {
  const options = { year: 'numeric', month: 'long', day: 'numeric' };
  const parts = new Intl.DateTimeFormat('en-US', options).formatToParts(date);

  let day = parts.find(p => p.type === 'day')?.value ?? '';
  
  const month = parts.find(p => p.type === 'month')?.value ?? '';
  const year = parts.find(p => p.type === 'year')?.value ?? '';

  return `${month} ${day}, ${year}`;
}
---

<Layout>
  <div class="grid grid-cols-1 md:grid-cols-3 gap-10 my-4 mx-4 md:mx-20"> 
    {posts.map((post) => (
      <div class="flex flex-col">
        <img src={post.data.properties.Image} alt={post.data.properties.ImageAlt} class="w-full h-64 object-cover mb-2 rounded-lg" />
        <a 
          href={`/posts/${post.data.properties.Slug}`} 
          class="text-xl transition-colors !text-black"
        >
          {post.data.properties.Name}
        </a>
        <div class="flex flex-col mt-2">
          <p class='font-extralight font-phantom text-[#717171]'>{formatDate(post.data.properties.Date)}</p>
          <p class='font-bold font-phantom text-[#6A6A6A]'>Zach Latta, Orpheus, Heidi</p>
        </div>
      </div>
    ))}
  </div>
</Layout>
